@model Airplane_Ticket_Manager.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirplaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirplaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClassCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessClassCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AirplaneID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
